$font-stack: 'PT Sans Narrow', sans-serif;
$font-pink: 'Yantramanav', sans-serif;
$primary-color: #636466;
$title-color: white;
$pink-color: #E34E8B;

body {
  font: 100% $font-stack;
  background: url(images/pip-background.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.titleBlack {
  background: black;
  text-align: left;
  padding: 20px 20px 20px 0;
  width: 85%;
  height: 11em;
  margin-top: 6em;
}

.wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  padding: 5px 0;
  min-height: 80px;
}

.textContainer {
  position: absolute;
  right: 20%;
  top: 10%
}

h1, h2 {
  position: relative;
  margin: 0;
  color: #ffffff;
}

h1 {
  line-height: 0.8;
	font-size: 9em;
	font-family: $font-pink;
	letter-spacing: -.05em;
	margin-top: .05em;
	margin-left: -.06em;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}

.pink {
	color: $pink-color;
}

// form styling

.formContainer {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

#movieDropdown {
  height: 40px;
  width: 100%;
  background-color: $title-color;
  color: $primary-color;
}

.lableText {
	display: none;
}

// Bootstrap Overrides
#bootstrap-overrides {
	background-color: transparent !important;
	color: $primary-color;	
}

#bootstrap-overrides .ui-page-theme-a {
	text-shadow: none;
	background-color: transparent !important;
}

#movieDropdown-button, #textRadio {
	width: 50% !important;
}

#numOption {
  width: auto !important;
  text-align: center;
  float: left;
}

#textOption {
  //float: left;
  width: auto !important;
}

#generateButton {
  clear: both;
}