body {
  font: 100% "Helvetica", sans-serif;
  margin: 0;
  background-color: lightblue; }

.wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  min-height: 1em; }

.textContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

.titleWrap {
  margin-left: auto;
  margin-right: auto;
  width: fit-content; }

h1, h2 {
  position: relative;
  margin: 0;
  color: #ffffff; }

h1 {
  line-height: 0.8;
  font-size: 6em;
  font-family: sans-serif;
  letter-spacing: -.05em;
  text-transform: none;
  text-align: left; }

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  text-align: left; }

.formContainer {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%; }

#movieDropdown {
  width: 75%; }

#textRadio {
  width: 75%;
  margin-left: auto;
  text-align: center; }

#textRadio textarea {
  resize: none;
  height: 1.4em;
  margin-right: 2em; }

#numOption {
  float: left;
  text-align: center;
  padding-top: .4em; }

#textOption {
  display: inline;
  text-align: left;
  float: left;
  width: auto;
  color: white;
  padding-top: .2em; }

#textOption legend {
  width: 1%; }

#textLegend, .radioOption {
  float: left;
  margin-right: .4em; }

#generateButton {
  clear: both; }

#textRadio {
  padding-top: .5em; }

#generateButton, #copyButton {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

#copyButton {
  display: none; }

#loremIpsumBox {
  background-color: white;
  color: gray;
  padding: 1em; }

#info {
  text-align: right;
  margin-right: 0.5em;
  margin-top: 0.5em; }

.fa {
  color: grey;
  opacity: 0.5; }

.fa:hover {
  opacity: 1;
  cursor: pointer; }

.modal {
  background-color: lightblue !important;
  font-family: sans-serif !important;
  font-size: 1em !important; }

.modalTitle h2 {
  color: white !important; }

.modalTitle h1 {
  text-transform: uppercase !important;
  font-family: "Helvetica", sans-serif; }

.modalDisclaimer h3 {
  color: white !important;
  font-size: 1em; }

.modalDisclaimer {
  background-color: black;
  padding-left: 3em;
  padding-right: 2em;
  padding-top: .1em;
  padding-bottom: .1em;
  margin-left: -2em;
  width: 60%; }

.modal hr {
  visibility: hidden; }

.styled-select {
  background: transparent;
  height: 29px;
  overflow: hidden;
  width: 240px;
  margin: 20px;
  color: #fff !important;
  font-family: "Helvetica", sans-serif;
  font-size: 1em; }

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: grey; }

.pink {
  background-color: lightblue; }

#buttonIpsum {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  background: grey;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 1em; }

#buttonIpsum:hover {
  background: #4a4a4a;
  text-decoration: none; }

#buttonCopy {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 1em; }

#buttonCopy:hover {
  background: aliceblue; }

@media (max-width: 1200px) {
  h1 {
    font-size: 5em; } }
@media (max-width: 950px) {
  h1 {
    font-size: 3.5em; } }
@media (max-width: 680px) {
  body {
    background-color: lightblue; }

  h1 {
    font-size: 3em; }

  #movieDropdown {
    width: 50%; } }
@media (max-width: 450px) {
  body {
    background-color: lightblue; }

  h1 {
    font-size: 1.75em; }

  h2 {
    font-size: 1em; }

  #movieDropdown {
    width: 50%; }

  .formContainer {
    margin-top: .5em; }

  #buttonIpsum {
    padding: 5px 10px 5px 10px; }

  .modal {
    width: 100% !important; } }

/*# sourceMappingURL=basic.css.map */
