body {
  font: 100% "Open Sans", sans-serif;
  background: url("../images/breakfast-background.png") no-repeat center top fixed;
  margin: 0;
  background-color: white; }

.titleBlack {
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 20px 20px 0 0;
  width: 100%;
  height: 11em;
  margin-top: 0.5em; }

.wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  min-height: 80px; }

.textContainer {
  position: relative;
  right: 0;
  top: 10%;
  background-image: url("../images/breakfast-title.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 10em;
  background-position: center;
  text-indent: -9999px; }

h1, h2 {
  position: relative;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: .2em;
  margin-left: 0;
  font-family: "Cantarell", sans-serif;
  line-height: 0.8;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: normal !important;
  color: #851313; }

h3 {
  color: #851313; }

h1::nth-letter(even) {
  font-weight: bold; }

h2::nth-letter(even) {
  font-weight: bold; }

.formContainer {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%; }

#movieDropdown {
  font: "Open Sans", sans-serif;
  width: 75%; }

#textRadio {
  width: 75%;
  margin-left: auto;
  text-align: center; }

#textRadio textarea {
  resize: none;
  height: 1.4em;
  margin-right: 2em; }

#numOption {
  float: left;
  text-align: center;
  padding-top: .4em; }

#textOption {
  display: inline;
  text-align: left;
  float: left;
  width: auto;
  color: white;
  padding-top: .2em; }

#textOption legend {
  width: 1%; }

#textLegend, .radioOption {
  float: left;
  margin-right: .4em;
  color: black; }

#generateButton {
  clear: both; }

#textRadio {
  padding-top: .5em; }

#generateButton {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

#loremIpsumBox {
  background-color: white;
  color: gray;
  padding: 0; }

.styled-select {
  background: transparent;
  height: 29px;
  overflow: hidden;
  width: 240px;
  margin: 20px;
  color: #000 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: grey; }

.pink {
  background-color: white; }

.fa {
  margin-left: .25em;
  margin-top: .25em;
  color: black;
  opacity: .6; }

.modalTitle h1, .modalTitle h2 {
  color: #851313 !important;
  font-family: "Cantarell", sans-serif !important;
  font-weight: bold !important; }

#buttonIpsum {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  background: gray;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 1em; }

#buttonIpsum:hover {
  background: #851313;
  text-decoration: none; }

a {
  color: black; }

@media (max-width: 1024px) {
  h1 {
    font-size: 7em; }

  .titleBlack {
    height: 9em; } }
@media (max-width: 800px) {
  h1 {
    font-size: 6em; }

  .titleBlack {
    height: 8em; }

  .formContainer {
    margin-top: 5em; } }
@media (max-width: 680px) {
  body {
    background: url(../images/breakfast-background-p.png) no-repeat center top fixed;
    background-color: white; }

  h1 {
    font-size: 4em; }

  .titleBlack {
    height: 6em; }

  #movieDropdown {
    width: 50%; } }
@media (max-width: 450px) {
  body {
    background: url(../images/breakfast-background-p.png) no-repeat center top fixed;
    background-color: white; }

  h1 {
    font-size: 3em; }

  .titleBlack {
    height: 4.75em; }

  .formContainer {
    width: 95%;
    margin-top: .5em; }

  #numOption {
    float: none; }

  #textRadio {
    width: 95%; }

  #buttonIpsum {
    padding: 5px 10px 5px 10px; }

  .textContainer {
    top: -2em;
    height: 6em; }

  .modal {
    width: 90% !important; }

  .modalDisclaimer {
    width: 85%; }

  .modalTitle h1 {
    font-size: 2em !important; } }

/*# sourceMappingURL=breakfast.css.map */
