$font-stack: 'Open Sans', sans-serif;
$font-pink: 'Permanent Marker', cursive;
$primary-color: #636466;
$secondary-color: #0164b5;
$title-color: black;
$pink-color: white;

body {
  font: 100% $font-stack;
  background: url('../images/sixteen-background.png') no-repeat center top fixed;
  background-position-y: -75px;
  margin: 0;
  background-color: $pink-color;
}

.titleBlack {
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 20px 20px 0 0;
  width: 100%;
  height: 11em;
  margin-top: 0.5em;
}

.wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  min-height: 80px;
}

.textContainer {
  position: relative;
  right: 0;
  top: 10%
}

h1, h2 {
  position: relative;
  margin: 0;
  color: $secondary-color;
  font-family: $font-pink; 
}

h1 {
  line-height: 0.8;
	font-size: 6em;
	letter-spacing:0;
	margin-top: .2em;
	margin-left: 0;
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	color: $title-color;
}

// form styling

.formContainer {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

#movieDropdown {
  font: $font-stack;
  //height: 40px;
  width: 75%;
  //background-color: $title-color;
  //color: $primary-color;
}

#textRadio {
  width: 75%;
  margin-left: auto;
  //margin-right: auto;
  text-align: center;
}

#textRadio textarea {
  resize: none;
  height: 1.4em;
  margin-right: 2em;
}

.lableText {
	//display: none;
}

#numOption {
  float: left;
  text-align: center;
  padding-top: .4em;
  border-color: $title-color;
}

#textOption {
  display: inline;
  text-align: left;
  float: left;
  width: auto;
  color: white;
  padding-top: .2em;
}

#textOption legend {
  width: 1%;
}

#textLegend, .radioOption {
  float: left;
  margin-right: .4em;
  color: $title-color
}

#generateButton {
  clear: both;
}

#textRadio {
  padding-top: .5em;
}

#generateButton {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

// where the lorem ipsum goes

#loremIpsumBox {
	background-color: white;
	color: gray;
	padding: 1em;
	margin-bottom: 2em;
}

//info and modal
#info {
  text-align: right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.fa {
  color: $title-color;
  opacity: 0.2;
}

.fa:hover {
  opacity: 1;
  cursor: pointer;
}

.modalTitle h1 {
  font-size: 3em !important;
  line-height: 1em !important;
  text-align: center !important;
  margin-bottom: 0.35em !important;
}

.modalTitle h2 {
  width: 100% !important;
  color: $secondary-color !important;
  text-align: center;
  text-transform: uppercase !important;
}

.modalTitle h2:before {
  width: 24%;
}

.modalTitle h2 span {
  background: white;
  padding: .75em;
  border: white solid .02em;
}

.modalDisclaimer h3 {
  font-size: 1em;
}

// drop down menu

.styled-select {
  background: transparent;
  height: 29px;
  overflow: hidden;
  width: 240px;
  margin: 20px;
  color: #000 !important;
  font-family: $font-stack;
  font-size: 1em;
}

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: grey;
}

.pink {
  background-color: $pink-color;
}

// generate text button

#buttonIpsum {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-family: $font-stack;
  background: gray;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 1em;
}

#buttonIpsum:hover {
  background: $secondary-color;
  text-decoration: none;
}

// responsive CSS

@media (max-width: 1024px) {
  h1 {
    font-size: 7em;
  }
  .titleBlack {
    height: 9em;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 6em;
  }
  .titleBlack {
    height: 8em;
  }
}

@media (max-width: 680px) {
  body {
    background: url('../images/sixteen-background-p.png') no-repeat center top fixed;
    background-color: $pink-color;
  }
  h1 {
    font-size: 4em;
  }
  .titleBlack {
    height: 6em;
  }
  #movieDropdown {
    width: 50%;
  }
}

@media (max-width: 450px) {
  body {
    background: url("../images/sixteen-background-p.png") no-repeat center top fixed;
    background-color: $pink-color;
    background-position-y: -4em;
  }
  h1 {
    font-size: 3em;
  }
  .titleBlack {
    height: 6em;
  }
  #movieDropdown {
    width: 50%;
  }
  .formContainer {
    width: 95%;
    margin-top: .5em;
  }
  #numOption {
    float: none;
  }  
  #textRadio {
    width: 95%;
  }  
  #buttonIpsum {
    padding: 5px 10px 5px 10px;
  }
  .titleBlack {
    background: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 0;
    width: 100%;
    height: 7em;
    margin-top: 0;
  }
  .modal {
    width: 100% !important;
  }
  .modalDisclaimer {
    width: 85%;
  }
  .modalTitle h1 {
    font-size: 2em !important;
  }  
}
